secrets.yaml
deps/
home-assistant_v2.db
.storage/
.cloud/
dehydrated/
.HA_VERSION
.uuid
home-assistant.log
plex.conf
webostv.conf
custom_components/**/*.pyc
**/*.bak
git.log
**/*.cookies
/known_devices.yaml
